<uib-tabset active="active" classes="tab-nav">
  <uib-tab index="0" select="mc.activeTab = 0; resetReturnView();">
    <uib-tab-heading>
    One Way
    </uib-tab-heading>

    <div class="" ng-if="mc.activeTab == 0" ng-include="'assets/templates/directives/tw-booking-form.html'"></div>
  </uib-tab>

  <uib-tab index="1" select="mc.activeTab = 1; mc.returnDate = mc.startDate">
    <uib-tab-heading>
    Return
    </uib-tab-heading>
    <div class="" ng-if="mc.activeTab == 1" ng-include="'assets/templates/directives/tw-booking-form.html'"></div>
  </uib-tab>

</uib-tabset>
