<div id="main-container" class="container" ng-init="init()">
  <div class="row">
      <div class="col-md-12">
        <h1>Flight Search Engine</h1>
      </div>
      <div class="col-md-4" ng-include="'assets/templates/form-tabs.html'"></div>

      <div class="col-md-8">
        <div class="search-summary row">
            <div class="col-md-8">Flight summary</div>
            <div class="col-md-4">flight date info</div>
        </div>
        <div class="search-results">

            <div class="search-result row">
              <div class="col-md-9">Flight data goes here</div>
              <div class="col-md-3">Photo goes here</div>
            </div><!--/.row-->


        </div>

      </div>

  </div><!--/.row -->
</div>
