@primary-font: 'Open Sans', sans-serif;

/*
------------------------------
COMMON
------------------------------
*/

html, body{
  font-family: @primary-font, "Helvetica Neue",Helvetica,Arial;
  font-size: 14px;
}


#main-container{

  .card-body{
    min-height: 480px;
  }
}

/*
------------------------------
CHOSEN OVERRIDES
------------------------------
*/

.chosen-container{
  width: 100% !important;
  .chosen-single{
    span{
      text-transform: none;
    }
  }
}


/*
------------------------------
SEARCH RESULTS
------------------------------
*/

.search-summary{

}

.search-results{
  .flight{



  }
}
